div#qTip {
 padding: 10px;
  border-radius : 4px;
 -moz-border-radius : 4px; 
 display: none;
 background: #000000;
 opacity : .6; 
 filter: alpha(opacity=60);
 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
 color: #FFF;
 width : auto;
 max-width : 400px;
 font:  12px Verdana, Arial, sans-serif;
 text-align: left;
 position: absolute;
 z-index: 1000;
}